* {
	font-family: verdana;
}

h1 {
	font-size: 72px;
	font-style: italic;
	padding: 20px;
	text-align: center;
}

.container {
	border-radius: 5px;
	margin: auto;
	height: 960px;
	width: 960px;
}

.mainContainer {
	min-width: 1200px;
}

.line {
	font-size: 0;
}

.menu {
	background-color: #2E64FE;
	display: inline-block;
	float: right;
	font-size: 20px;
	margin-right: 20px;
	margin-top: 100px;
	width: 100px;
}

.square {
	background-color: #f0f0f0;
	display: inline-block;
}

#clear {
	background-color: transparent;
	border-color: transparent;
	color: white;
	font-size: 20px;
	padding: 20px 0px;
	text-decoration: none;
	width: inherit;
}

#resize {
	background-color: transparent;
	border-color: transparent;
	color: white;
	font-size: 20px;
	padding: 20px 0px;
	text-decoration: none;
	width: inherit;
}